.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.green{
    background-color: greenyellow;
}
.bold{
    font:bold;
}